footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-Advent);
    background-color: var(--blue);
    .footer-box{ 
        width: 1080px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .top{
        display: flex;
        border-bottom: 2px solid grey;
        justify-content: center;
        gap:30px;
        .contact{
            width: 25%;
            margin-top:30px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap:5px;
            color: white;
            img{
                width: 80px;
                height: 65px;
            }
            p{
            font-weight: 600;
            }
        }
        .site-links{
            width: 50%;
            display: flex;
            justify-content: start;
            margin:30px;
            color:white;
            ul{ 
                display: flex;
                flex-direction: column;
                align-items: start;
                margin: 20px;
                width: 250px;
                li{
                    list-style: none;
                    margin-top: 5px;
                    width: 140px;
                    .link{
                    font-weight: 500;
                    color: white;  
                    } 
                }
            }
        }
        .join-us{
            margin-top: 50px;
            width: 25%; 
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            color: white;  
            p{
                margin: 10px 0 10px 0;
                font-weight: 500;
                text-align: left;
            }
            .email{
                width: 240px;
                height: 35px;
                border-radius: 5px;
                border: none;
                outline: none;
            }
            .mail-icon{
                color: var(--blue);
                font-size: 30px;
                position: absolute;
                right:10px;
                bottom: 66px;
            }
        }
    }
    .bottom{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 150px;  
        p{
            font-size: 14px;
            color: white; 
        }
        .social-media{
            width: 240px;
            ul{
               display: flex;
               gap:40px;
            li{
                list-style: none;
                margin-top: 5px;
                .link{
                font-size: 25px;
                color: white; 
                }
                &:hover{
                    transform:scale(1.2);
                    transition:  1s;
                }
            }  
            }
        }
    }           
    }
}
@media screen and (min-width: 280px) and (max-width: 1080px)  {
footer{
height: 580px;
.footer-box{ 
    width: 100%;
    align-items: center;
.top{
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:10px;
    .contact{
        width: 80%;
        margin-top:20px;
    }
    .site-links{
        justify-content: start;
        width: 80%;
        margin:0;
            ul{ 
                margin: 0;
                width: auto;
                li{
                    margin-top: 5px;   
                }
            }
    }
    .join-us{
        margin-top: 10px;
        width: 80%; 
        .email{
            width: 100%;
            margin-bottom: 20px;
        }
        .mail-icon{
            color: white;
            bottom: 22px;
        }
    }
}
.bottom{
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
}
}
}