footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    height: 330px;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
        display: flex;
        width: 100%;
        height: 250px;
        border-bottom: 2px solid grey;
        justify-content: center;
        gap:30px;
        .contact{
            margin-top:30px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap:5px;
            color: white;
            img{
                width: 80px;
                height: 65px;
            }
            p{
            font-weight: 600;
            }

        }
        .site-links{
            display: flex;
            justify-content: start;
            margin:30px;
            color:white;
            ul{ 
                display: flex;
                flex-direction: column;
                align-items: start;
                margin: 20px;
                li{
                    list-style: none;
                    margin-top: 5px;
                    .link{
                    font-weight: 500;
                    color: white;  
                    }
                   
                }
            }
        }
        .join-us{
            margin-top: 50px;
            width: 240px; 
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            color: white;  
            p{
                margin: 10px 0 10px 0;
                font-weight: 500;
                text-align: left;
            }
            .email{
                width: 240px;
                height: 35px;
                border-radius: 5px;
                border: none;
            }
            .mail-icon{
                color: var(--blue);
                font-size: 30px;
                position: absolute;
                right:10px;
                bottom: 69px;
            }
        }
    }
    .bottom{
        width: 1440px;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 150px;
        
        p{
            font-size: 14px;
            color: white; 
        }
        .social-media{
            width: 240px;
            ul{
               display: flex;
               gap:40px;
            li{
                list-style: none;
                margin-top: 5px;
                .link{
                font-size: 25px;
                color: white; 
                }
                &:hover{
                    transform:scale(1.2);
                    transition:  1s;
                }
               
            }  
            }
           
        }
    }
}