.e-learning {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: var(--font-Advent);
    .e-learning-box{
    width: 1080px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .e-learning-search{
        margin-top: 10px;
        width: 100%;
        height: auto;
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .title{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            background: linear-gradient(90deg, #E7267A -2.12%, #2B4B9B 89.03%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            letter-spacing: 7px;
        }
    }
    .search-bar{
        width: 80%;
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin: 10px;
        .course, .level, .subject{
            margin-left: 10px;
            h2{
                color: var(--pink);
                font-weight: 500;
            }
            .input-box {
                display: flex;
                position: relative;
                .icons{
                    position: absolute;
                    top:8px;
                    left: 5px;
                    color: var(--grey);
                }
               input{
                width: 200px;
                height: 40px;
                border: 2px solid var(--pink);
                border-radius: 5px;
                padding-left: 30px;
                font-size: 16px;
            } 
            }
            select{
                color: var(--grey);
                width: 200px;
                height: 40px;
                border: 2px solid var(--pink);
                border-radius: 5px;
                padding-left: 30px;
                font-size: 16px;
            }
        }
        .search-btn{
            display: block;
            margin-left: 10px;
            button{
                width: 200px;
                height: 40px;
                background-color: var(--pink);
                border-radius: 5px;
                color: white;
                font-family: var(--font-Almarai);
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .skill-info{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
           .career, .it, .business, .resources{
            width: 25%;
            margin-left: 25px;
            h2{
                color: var(--purple);
            }
            ul{
                color: var(--blue);
                font-weight: 600;
            }
        }  
    }   
    }
    .e-learning-search::before{
        content:'';
        position:absolute;
        z-index:-1;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background:url(../assets/e-learning.jpg);
        filter: contrast(0.6) brightness(1.3) ;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        border-radius: 10px;
    }
    }
    .e-learning-search-result{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .e-learning-search-result-title{
            width: 100%;
            display: flex;
            justify-content: space-between;
            h1{
                color: var(--blue);
                font-size: 36px;
                font-weight:600 ;
                } 
                .result-diaplay{
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 20px;
                label{
                color: var(--blue);
                font-weight: 600;
                font-size: 18px;
                select{
                    width: 100px;
                    color: var(--grey);
                    border: 2px solid var(--card-color);
                    border-radius: 5px;
                    margin-left: 3px;
                    font-size: 16px;
                    height: 35px;
                }    
                }
                .pagination {  
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    border-radius: 5px;
                    .page-num{
                        padding: 5px 10px;
                        cursor: pointer;
                        color: var(--blue);
                        font-size: 18px;
                        border-radius: 5px;
                        font-weight: 600;
                         &:hover  {
                        background-color: var(--blue);
                       color: white;
                    }
                    }
                    .active{
                        background-color: var(--blue);
                        color: white;
                    } 
                }   
                }
        }
        .e-learning-search-result-bottom{
            margin-top: 10px;
            display: grid;
            grid-template-columns: auto auto auto;
            gap:20px;
        }
    }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
.e-learning{
    height: auto;
    margin: 10px;
    .e-learning-box{
        width: 100%;
        margin: 10px;
        justify-content: center;
        .e-learning-search{
            .title{
                h1{
                    margin: 10px;
                    font-size: 40px;
                }
            }
            .search-bar{
            width: 100%;
            display: block;
            margin: 10px;
            .course, .level, .subject{
            padding-left: 15%;
            padding-right: 15%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            }
            .search-btn{
            display: flex;
            justify-content: center;
                button{
                 width: 70%;
                }
            }
            }
            .skill-info{
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            align-items: start;
             .career, .it, .business, .resources{
            width: 100%;
             }
            }
        }
        .e-learning-search-result{
            .e-learning-search-result-bottom{
            grid-template-columns: auto ;
            gap:10px;
            }
        }
    }
}
}